body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #0c1a1f;
  background-image: url('./_img/background_long.jpg');
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: top;
}

.content{
  max-width: 1000px;
  margin: auto;
}

.Me{
  height: 80vh;
  width: 70vw;
  margin: auto;

}

.meContent {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 5em;
  margin-bottom: 2em;
}

.Me h1 {
  font-size: 10ch;
  margin-bottom: -0.5em;
  margin-top: 20vh;
  line-height: 2ch;
}

.Me p {
  font-size: 2em;
}


.repository {
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  width: 15em;
  min-height: 11em;
  background-color: #ffffed;
  border: 2px solid #00a5e3;
  border-top: 5px solid #00a5e3;
  padding: 0 0.7em 0 0.7em;
  transition: 0.2s;
  box-shadow: 0.1em 0.1em 0.2em #00a5e3;
  margin: 0.2em;
  position: relative;
}

@media screen and (max-width: 600px) {
  .repository {
    width: 12em;
    min-height: 11em;
  }
  .repository h3 {
    text-align: left;
    font-size: 1.1em;
    overflow: paged-y;
  }
}


.repository:hover {
  transform: scale(0.97, 0.97);
  box-shadow: 0.1em 0.1em 0px #00a5e3;

}

.repository p{
  text-align: left;
  color: #0c1a1f;
}

.repository h3 {
  margin-top: 0.5em;
  color: #00323f;
}

.repository p.updated {
  text-align: right;
  color: dimgrey;
  position: absolute;
  bottom: 0;
  right: 1em;
}

h1, h2, h3, p {
  text-align: center;
  color: #fff7e8;
}

.reposList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a:link, a:visited {
  text-decoration: none;
}

.contactIcon {
  text-align: center;
  transition: 0.2s;
  margin: 6em;
  image-rendering: auto;
}

.contactIcons img {
  height: 3em;
  width: 3em;
  padding: 1em 0.5em 1em 0.5em;
  filter: grayscale(1) brightness(70%);
  transition: 0.2s;
}

.contactIcons img:hover {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(90deg);
}

.contactIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  filter: invert(100%)
}

.siteCard {
  text-align: center;
  border: 2px solid #49a372;
  width: 80vw;
  max-width: 500px;
  margin: 2em auto 2em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  transition: 0.2s;
  background-color: #014449;
}

.siteCard:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0.1em 0.1em 0.5em grey;

}

.siteCard img {
  width: 80vw;
  max-width: 500px;
  position: relative;
  padding: 0;
  vertical-align: bottom;
}

.siteCard ul{
  text-align: left;
}


hr {
  color: #fff7e8;
  width: 50vw;
  margin-top: -1em;
  margin-bottom: 1em;
}

h2 {
  margin-top: 2em;
}

#moreArrow {
  width: 4em;
  height: 4em;
  left: 50%;
  bottom: 0;
  position: absolute;
  transform: translate(-50%, 0);
}

#moreArrow path {
  fill: white;
  transition: 0.1s;
}

#moreArrow:hover path{
  fill: grey;
}